{% extends '@!EasyAdmin/page/content.html.twig' %}


{% block main %}
<table class="table datagrid with-rounded-top ">
        <thead>
        <tr>
        {% for field in fields %}
                <th class="text-">{{ field }}</th>
        {% endfor %}
        </tr>
        </thead>
</table>
<tr>

</tr>
{% endblock %}

